[Unit]
Description=console-1706 scanner

[Service]
Type=oneshot
WorkingDirectory=__PROJECT_DIR__
ExecStart=__PROJECT_DIR__/.venv/bin/console-1706 scan --config %h/.config/console-1706/config.yml
Environment=PYTHONUNBUFFERED=1
